[core]
	excludesfile = /Users/Sale/.gitignore_global
	editor = /usr/local/bin/vim
    #editor = /usr/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.3/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
    name = Aleksandar Radivojevic
    email = anagramik@gmail.com
[alias]
    a = add
    amod = add -u
    br = branch
    ci = commit
    ca = commit --amend
    co = checkout
    dsf = "!f() { [ \"$GIT_PREFIX\" != \"\"  ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX;  }; f"
    df = diff
    dfc = diff --cached
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''%C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    lgf = log -p
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    m = merge
    pl = pull
    ps = push
    pru = remote prune origin
    pom = push origin master
    plom = pull origin master
    plrom = pull --rebase origin master
    r = rebase
    s = stash
    sa = stash apply
    st = status
    who = shortlog -s --
	last = log -1 HEAD
[push]
	default = matching
